.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1.2rem;
    min-height: 90vh;

    gap: 2rem;
}

.header {
    composes: gothicExpanded from "../styleModules/fonts.module.css";
    composes: fourth from "../styleModules/colors.module.css";
    font-size: 2.4rem;
}

.text {
    composes: raleway from "../styleModules/fonts.module.css";
    composes: fourth from "../styleModules/colors.module.css";
    font-size: 1.4rem;
}

.carousel {
    position: relative;
    width: 600px;
    height: 250px;
}

.img {
    background-color: white;
    width: 100%;
    height: 100%;
    object-fit: contain;

    border: 5px solid #ECEFCA;
}

.imgHidden {
    display: none;
}

.indicators {
    position: absolute;
    bottom: 1rem;
    display: flex;
    gap: 0.6rem;
    left: 50%;
    transform: translateX(-50%);
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    border-style: none;
    border: 1px solid #213448;
    border-radius: 100%;
}

.indicatorInactive {
    background-color: #547792;
    border-style: none;
}