.primary {
    color: #213448;
}

.primaryBg {
    background-color: #213448;
}

.secondary {
    color: #547792;
}

.secondaryBg {
    background-color: #547792;
}

.third {
    color: #94B4C1;
}

.thirdBg {
    background-color: #94B4C1;
}

.fourth {
    color: #ECEFCA;
}

.fourthBg {
    background-color: #ECEFCA;
}